### 제어문과 함수

#### 1. 제어문

##### 1) 조건문

In [4]:
x <- runif(1)
x

# 단순 if
if(x>0) print(abs(x)) # 절대값을 출력

# if ~ else
if(x<0.5) print(1-x) else print(x)
    
# ifesle(조건식, T, F)
ifelse(x<0.5, 1-x, x)

[1] 0.2823775

[1] 0.2823775
[1] 0.7176225

[1] 0.7176225

In [5]:
# 1. if 블럭
a <- -9
if(a %% 2 == 0) {
    print(a)
    print("짝수입니다!")
    print(abs(a))
} else {
    print(a)
    print("홀수입니다!")
    print(abs(a))    
}

[1] -9
[1] "홀수입니다!"
[1] 9

In [8]:
# 2. switch문 : break문장은 없음
point <- 95

# 정수몫
grade <- point %/% 10 # / 나누기, %/% 정수몫
grade

# 변환함수
# as.numeric(), as.character(), as.logical()
switch(as.character(grade),
 '10' = print('A+'),
 '9' = print('A'),
 '8' = print('B'),
 '7' = print('C'),
 '6' = print('D'),
 print('F')       
)

[1] 9

[1] "A"

##### 2)  반복문

In [12]:
# 1. for
dan <- 3
for(i in seq(1,10,by=1)) {
    cat(paste(dan, "x", i, "=", dan*i, "\n"))
}

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [2]:
# 출력문에서 줄바꿈을 하고 싶을 경우 print대신 cat함수를 사용
for(i in seq(2,9)) {
    cat(paste("\n=====", i, "단=====\n"))
    for(j in seq(1,9)) {
        cat(paste(i, "x", j, "=", i*j, "\n"))
    }
}

===== 2 단=====
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

===== 3 단=====
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

===== 4 단=====
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

===== 5 단=====
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

===== 6 단=====
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

===== 7 단=====
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

===== 8 단=====
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

===== 9 단=====
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [3]:
# 2. while
sum <- 0
i <- 1
while (i <= 10) {
    sum <- sum + 1 # R은 복합연산자 +=등은 없다.
    i <- i+1
}
sum

[1] 10

In [4]:
# 3. repeat : 선실행후 검사(파이썬, 자바의 do while과 유사)
sum <- 0
i <- 1
repeat {
    sum <- sum + 1 # R은 복합연산자 +=등은 없다.
    i <- i+1
    # 탈출조건 지정
    if(i>10) break
}
sum

[1] 10

#### 2. 함수

In [6]:
# 1. 사용자정의함수
# 함수선언방법 : 함수명 <- function() { 실행문... }
gugudan <- function() {
    # readline : 키보드로 입력값을 받아서 문자열로 저장, 입력대기
    dan <- readline("단을 입력하세요!")
    dan <- as.integer(dan) # 문자열을 정수로 변환
    for(i in seq(9)) {
        cat(paste(dan, "x", i, "=", dan*i, "\n"))
    }
}
gugudan()

단을 입력하세요!9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [17]:
# 2. 내장함수(Built-in Function)
sqrt(5)
sqrt(c(1,2,3,4,5))

# 통계관련함수
a  <- c(1,2,3,4,5,6,7,8,9)
summary(a)
mean(a)# 1. 사용자정의함수# 1. 사용자정의함수
min(a)
max(a)
median(a)

[1] 2.236068

[1] 1.000000 1.414214 1.732051 2.000000 2.236068

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
      1       3       5       5       7       9

[1] 5

[1] 1

[1] 9

[1] 5

In [28]:
# 3. 사용자정의함수 - 인수가 없는 함수
test1 <- function() {
    x <- 10
    y <- 20
    return(x+y)
}
test1()

[1] 30

In [30]:
# 4. 사용자정의함수 - 인수가 있는 함수
test2 <- function(x,y) {
    return(x+y)
}
test2(10,20)

[1] 30

In [31]:
# 5. 함수에서 함수호출
test3 <- function(x,y) {
    return(test2(x,y))
}
test3(10,20)

[1] 30

In [35]:
# 5. 함수의 리턴값
# 함수의 결과값을 화면에 보이지 않게 하고 변수에 값만 대응하레 할 경우
test4 <- function(x,y) {
    return(invisible(test2(x,y)))
}
a <- test4(10,20)
a

[1] 30